@font-face {
  font-family: "Othella";
  src: url(./images/Epilogue-VariableFont_wght.ttf);
}
* {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0%;
}

body {
  background-color: hsl(0deg, 0%, 98%);
  font-family: "Othella";
}

.heavy {
  color: hsl(0deg, 0%, 8%);
}

.light {
  color: hsl(0deg, 0%, 41%);
}

header {
  display: flex;
  width: 95%;
  margin: 20px auto 0;
  justify-content: space-between;
}
header img {
  width: 100px;
  height: auto;
}
header .main_char {
  width: 88%;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}
header .main_char .second {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
header .main_char .second .cases {
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0 0.3s;
}
header .main_char .second .cases:nth-child(1)::after, header .main_char .second .cases:nth-child(2)::after {
  margin-left: 5px;
  margin-top: -5px;
  content: url(./images/icon-arrow-down.svg);
}
header .main_char .second .cases:hover {
  color: hsl(0deg, 0%, 8%);
}
header .main_char .second .cases:hover:nth-child(1) .sub_menu, header .main_char .second .cases:hover:nth-child(2) .sub_menu {
  display: flex;
}
header .main_char .second .cases:hover:nth-child(1)::after, header .main_char .second .cases:hover:nth-child(2)::after {
  content: url(./images/icon-arrow-up.svg);
}
header .main_char .right {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
header .main_char .right > div {
  text-align: center;
  padding: 8px 13px;
  cursor: pointer;
}
header .main_char .right > div:hover {
  color: hsl(0deg, 0%, 8%);
  border: 1px solid hsl(0deg, 0%, 8%);
}
header .main_char .right .bord {
  border: 1px solid hsl(0deg, 0%, 41%);
  border-radius: 10px;
}

main {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .right img {
  width: 400px;
}
main .left {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
main .left .remote {
  width: 500px;
  font-size: 75px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
}
main .left p {
  font-size: 18px;
  color: hsl(0deg, 0%, 41%);
  width: 450px;
  line-height: 1.5;
  font-weight: 500;
}
main .left .learner {
  font-weight: 500;
  font-size: 18px;
  color: hsl(0deg, 0%, 98%);
  background-color: hsl(0deg, 0%, 8%);
  padding: 15px 20px;
  margin-top: 50px;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
main .left .customers {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .left .customers img {
  width: auto;
}

.sub_menu {
  z-index: 1;
  position: absolute;
  display: none;
  flex-direction: column;
  margin-bottom: -70px;
  top: 40px;
  margin-left: -50px;
  bottom: 0;
  height: 170px;
  width: 170px;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 10px hsla(229deg, 31%, 79%, 0.664);
  border-radius: 8px;
  color: hsl(0deg, 0%, 41%);
}
.sub_menu .feat {
  display: flex;
  margin-left: 40px;
  align-items: center;
  width: 100%;
}
.sub_menu .feat img {
  margin-right: 25px;
  width: 15px;
  height: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}/*# sourceMappingURL=intro.css.map */